<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand align-items-center d-flex ps-lg-0">{{tab}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-circle-chevron-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                <div class="d-flex gap-lg-2 gap-4">
                    <li class="nav-item">
                        <a class="nav-link"><img src="assets/imgs/calendar-2.svg" width="24" alt="calendar"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><img src="assets/imgs/message-question.svg" width="24"
                                alt="message-question"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><img src="assets/imgs/notification.svg" width="24" alt="notification"></a>
                    </li>
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle align-items-center d-flex" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/imgs/Memoji.png" width="40" alt="Memoji">
                        <div class="d-flex flex-column ms-2">
                            <span style="font-size: 16px;">Ahmed Soliman</span>
                            <span style="font-size: 14px;">Teacher</span>
                        </div>
                        <i class="ms-2 fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end slideIn" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item">Action</a></li>
                        <li><a class="dropdown-item">Another action</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>