nav {
    background-color: var(--secondary-color);
}

.dropdown-toggle::after {
    display: none;
}

.navbar-toggler{
    border: none;
    padding: 0;
    margin: 0;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler i{
    font-size: 24px;
    color: var(--primary-color);
}


a {
    cursor: pointer;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-blue);
    padding-left: 25px;
}

.dropdown-toggle i {
    vertical-align: middle;
}

.dropdown-menu {
    background-color: var(--secondary-color);
}

.dropdown-menu li a {
    color: var(--dark-blue);
    font-weight: 500;
    transition: all 0.3s;
}

.dropdown-menu li a:hover {
    color: var(--primary-color);
}

span {
    font-weight: 500;
    color: var(--dark-blue);
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-direction: both;
}

@keyframes slideIn {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}
@media (max-width: 900px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
}