<div class="container mt-4">
    <mat-tab-group (selectedTabChange)="send($event)">
        <mat-tab label="Subjects">
            <ng-template mat-tab-label>
                <i class="fa-regular fa-file-lines me-2"></i>
                Subjects
            </ng-template>
            <app-subject></app-subject>
        </mat-tab>
        <mat-tab label="Exams">
            <ng-template mat-tab-label>
                <i class="fa-regular fa-file-lines me-2"></i>
                Exams
            </ng-template>
            <app-exams></app-exams>
        </mat-tab>
    </mat-tab-group>
</div>